.container {
  background-color: black;
  border: 3px;
  height: 500px;
  width: 700px;
  display: inline-block;
}
.content {
  margin-top: 20px;
  background-color: whitesmoke;
  width: 300px;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
}
